$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.board {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
  width: 100%;
  min-height: 400px;
  display: block;
  padding: 20px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}
