<div class="board-container" ng-class="{'test-mode': game_info.test_mode, 'game-over': game_info.game_over, 'in-progress': game_info.in_progress, 'paused': !game_info.in_progress}" ng-swipe-left="$emit('move_left')" ng-swipe-right="$emit('move_right')" ng-swipe-down="$emit('move_down')">
  <div class="score">
    {{game_info.current_score}}
  </div>
  <div class="level">
    {{game_info.level}}
  </div>
  <div class="board">
    <div ng-repeat="block in blocks" ng-id="{{block.id}}" class="animate block {{block.color}} pos-{{block.x}}{{block.y}}" ng-class="{glow: block.highlight}"></div>
  </div>
  <div class="block-preview">
    <div ng-repeat="block in upcoming | reverse" class="block {{block.color}}"></div>
  </div>
  <div class="game-message game-over" ng-class="{active: !game_info.in_progress &amp;&amp; game_info.game_over}">
    <h2 class="simlish">game over</h2>
    <div class="final-score-message">
      Final score: <span class="value">{{game_info.current_score}}</span>
    </div>
    <form class="submit-score-form form-inline" ng-show="game_info.current_score &gt; 0 &amp;&amp; !game_info.test_mode &amp;&amp; !game_info.submitted_score" ng-submit="record_high_score()">
      <input type="text" placeholder="Your initials" maxlength="3" ng-model="score_record.initials" class="form-control noPreventDefault" autofocus="autofocus" ng-change="capitalize_initials()">
      <button type="submit" class="noPreventDefault btn btn-info">
        Submit Score
      </button>
    </form>
    <div ng-show="game_info.test_mode" class="test-mode-message">
      Test mode, score is not saved.
    </div>
    <div class="new-high-score-message" ng-show="new_high_score.value">
      New personal high score!
    </div>
    <div class="existing-high-score-message" ng-hide="new_high_score.value">
      Your high score:
      <span class="value">{{existing_high_score.value}}</span>
      <time class="date">
        {{existing_high_score.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}
      </time>
    </div>
    <button type="button" class="noPreventDefault new-game-button btn btn-primary" ng-click="new_game()">
      New Game
    </button>
  </div>
  <div class="game-message paused" ng-class="{active: !game_info.in_progress &amp;&amp; !game_info.game_over}">
    <h2 class="simlish">paused</h2>
    <div ng-show="game_info.test_mode" class="test-mode-message">
      Test mode, score will not be saved.
    </div>
    <button type="button" class="noPreventDefault resume-game-button btn btn-primary" ng-click="$emit('resume')">
      Resume Game
    </button>
  </div>
</div>
