<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <table class="table table-striped scores-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Score</th>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="score in scores" class="row-{{score.rank}}">
          <td>{{score.rank}}</td>
          <td>{{score.value}}</td>
          <td>{{score.initials}}</td>
          <td>
            <time am-time-ago="score.created_at"></time>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
