<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <table class="table scores-table">
      <thead>
        <tr>
          <th class="score-rank">Rank</th>
          <th class="score-value">Score</th>
          <th class="score-initials">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="score in scores" class="row-{{score.rank}}" ng-class="{mine: score.is_mine}" tooltip="{{score.created_at | amDateFormat:'YYYY-MM-DD'}}" tooltip-placement="right">
          <td class="score-rank">{{score.rank}}</td>
          <td class="score-value">{{score.value}}</td>
          <td class="score-initials">{{score.initials}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
