@font-face {
  font-family: 'handwrittensimlishfontmedium';
  src: url('fonts/handwrittensimlishfont-webfont.eot');
  src: url('fonts/handwrittensimlishfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/handwrittensimlishfont-webfont.woff2') format('woff2'),
       url('fonts/handwrittensimlishfont-webfont.woff') format('woff'),
       url('fonts/handwrittensimlishfont-webfont.ttf') format('truetype'),
       url('fonts/handwrittensimlishfont-webfont.svg#handwrittensimlishfontmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press_start_2pregular';
  src: url('fonts/pressstart2p-webfont.eot');
  src: url('fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/pressstart2p-webfont.woff2') format('woff2'),
       url('fonts/pressstart2p-webfont.woff') format('woff'),
       url('fonts/pressstart2p-webfont.ttf') format('truetype'),
       url('fonts/pressstart2p-webfont.svg#press_start_2pregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
