<div class="board-container">
  <div class="score">
    {{game_info.current_score}}
  </div>
  <div class="level">{{game_info.level}}</div>
  <div class="board">
    <div ng-repeat="block in blocks" ng-id="{{block.id}}" class="animate block {{block.color}} pos-{{block.x}}{{block.y}}"></div>
  </div>
  <div class="block-preview">
    <div ng-repeat="block in upcoming" class="block {{block.color}}"></div>
  </div>
  <div class="game-message game-over simlish" ng-class="{active: !game_info.in_progress &amp;&amp; game_info.game_over}">
    game over
    <button type="button" class="new-game-button btn btn-primary" ng-click="new_game()">
      New Game
    </button>
  </div>
  <div class="game-message paused simlish" ng-class="{active: !game_info.in_progress &amp;&amp; !game_info.game_over}">
    paused
  </div>
</div>
