<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BlicblockJS</title>
  <meta name="description" content="Play the game Blicblock from The Sims 4! Play in your browser, on your tablet, or on your phone.">
  <meta name="keywords" content="blicblock,blic,block,sims,sims 4,the sims,video game,game,javascript,tetromino,Бликблок">
  <meta name="author" content="Sarah Vessels">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="content">
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
